// COLOR VARIABLES
$color-primary: rgb(255, 196, 0);
$color-primary-med: rgb(197, 163, 49);
$color-primary-dark: rgb(97, 99, 60);

// $color-secondary: #102b2c;
$color-secondary: #1f1f1f;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #383027;
$color-grey-dark-2: #7c6a56;

// FONT VARIABLES
$font-title: 'Monoton', sans-serif;
$font-display: 'Nunito', sans-serif;
$font-fantasy: 'Courgette', sans-serif;


// MEDIA QUERIES
$bp--largest : 75em; // 1200px
$bp--large : 62.5em; // 1000px
$bp--medium : 50em; // 800px
$bp--small : 75em; // 
$bp--smallet : 75em; // 

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width : $bp--largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-display;
    color: $color-grey-dark-2;
    font-weight: 300;
}

.container {
    display: grid;
    grid-template-rows: 90vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];

    // -Note-
    // grid-template-columns: repeat(8, 1fr);

    @media only screen and (max-width : $bp--large) {
        grid-template-rows: min-content 90vh 7rem 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];
    }

    @media only screen and (max-width : $bp--medium) {
        grid-template-rows: min-content calc(100vh - 7rem) min-content min-content 50vw 50vw repeat(3, min-content);
    }

}