@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Monoton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6rem;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

// h1 {
//     text-align: center;
//     color: #682c2c;
//     font-family: "Monoton";
//     font-size: 8rem;
//     text-transform: uppercase;
//     font-weight: 500;
//     word-spacing: 30px;
//     // letter-spacing: -5px;
//     padding: 2.4rem 0;
// }